@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
body, p, h1 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  border-bottom: 1px solid #CCCCCC;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  font-size: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ville {
  background: #EAEAEA;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0px 17px 10px -13px #CCCCCC;
          box-shadow: inset 0px 17px 10px -13px #CCCCCC;
}

.ville .ville__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: bold;
  font-size: 18px;
  color: #353535;
}

.nosRestaurants {
  background: #F6F6F6;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nosRestaurants .nosRestaurants__titre {
  margin-bottom: 20px;
}

.nosRestaurants .nosRestaurants__texte {
  font-size: 21px;
  color: #585858;
  margin-bottom: 40px;
}

.nosRestaurants .nosRestaurants__boutons {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 10px;
  padding: 20px 40px;
  width: 200px;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.31);
}

.fonctionnement {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.fonctionnement h2 {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 0px 0px 0px;
}

.fonctionnement .fonctionnement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F6F6F6;
  padding: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
  gap: 30px;
}

.fonctionnement .fonctionnement__container:hover {
  background: #F5EDFF;
}

.fonctionnement .fonctionnement__numero {
  margin-left: -40px;
  background: #9356DC;
  border-radius: 50px;
  width: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 19px;
}

.fonctionnement .fonctionnement_icon {
  color: #7E7E7E;
}

.fonctionnement .fonctionnement_icon:hover {
  color: #9356DC;
}

.restaurants {
  background: #F6F6F6;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants h2 {
  font-size: 30px;
  font-weight: bolder;
  margin: 30px 0px 15px 0px;
}

.restaurants .restaurants__container {
  margin: 15px 0;
  background: white;
  border-radius: 25px;
  position: relative;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.restaurants .restaurants__container img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.restaurants .restaurants__container .restaurants__stickers {
  position: absolute;
  background: #99E2D0;
  padding: 7px 15px;
  right: 15px;
  top: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #00805E;
}

.restaurants .restaurants__container .restaurants__nom {
  font-weight: bold;
  padding: 10px 15px;
  font-size: 20px;
}

.restaurants .restaurants__container .restaurants__ville {
  padding: 0px 15px 15px;
  font-size: 18px;
}

.restaurants .restaurants__container .restaurants__like {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
}

.footer {
  background: #353535;
  color: white;
  padding: 10px 30px;
}

.footer h3 {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer i {
  width: 20px;
  margin-right: 10px;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=mobile.css.map */