@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
body, p, h1 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  border-bottom: 1px solid #CCCCCC;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  font-size: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ville {
  background: #EAEAEA;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0px 17px 10px -13px #CCCCCC;
          box-shadow: inset 0px 17px 10px -13px #CCCCCC;
}

.ville .ville__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: bold;
  font-size: 18px;
  color: #353535;
}

.nosRestaurants {
  background: #F6F6F6;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nosRestaurants .nosRestaurants__titre {
  margin-bottom: 20px;
}

.nosRestaurants .nosRestaurants__texte {
  font-size: 21px;
  color: #585858;
  margin-bottom: 40px;
}

.nosRestaurants .nosRestaurants__boutons {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 10px;
  padding: 20px 40px;
  width: 200px;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.31);
  cursor: pointer;
}

.fonctionnement {
  padding: 30px;
}

.fonctionnement h2 {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 0px 0px 0px;
}

.fonctionnement__bcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F6F6F6;
  padding: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  font-weight: bold;
  gap: 30px;
  margin: 1rem 0;
}

.fonctionnement__container:hover, .fonctionnement__container span {
  background: #F5EDFF;
}

.fonctionnement__container .fonctionnement__numero {
  margin-left: -30px;
  background: #9356DC;
  border-radius: 50px;
  width: 25px;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 19px;
}

.fonctionnement__container .fonctionnement_icon {
  color: #7E7E7E;
}

.fonctionnement__container .fonctionnement_icon:hover {
  color: #9356DC;
}

.restaurants {
  background: #F6F6F6;
  padding: 30px;
}

.restaurants h2 {
  font-size: 30px;
  font-weight: bolder;
  margin: 30px 0px 15px 0px;
}

.restaurants__bcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__container {
  margin: 1rem 0;
  background: white;
  border-radius: 25px;
  position: relative;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.restaurants__container img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.restaurants__container .restaurants__stickers {
  position: absolute;
  background: #99E2D0;
  padding: 7px 15px;
  right: 15px;
  top: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #00805E;
}

.restaurants__container .restaurants__nom {
  font-weight: bold;
  padding: 10px 15px;
  font-size: 20px;
}

.restaurants__container .restaurants__ville {
  padding: 0px 15px 15px;
  font-size: 18px;
}

.restaurants__container .restaurants__like i {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.restaurants__container .fa-solid {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.restaurants__container .fa-solid:hover {
  -webkit-animation: fondue ease 1s;
          animation: fondue ease 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 1;
}

.footer {
  background: #353535;
  color: white;
  padding: 10px 30px;
}

.footer h3 {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer i {
  width: 20px;
  margin-right: 10px;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.chargement {
  position: fixed;
  background: white;
  height: 100vh;
  width: 100%;
  z-index: 1;
  -webkit-animation: chargement 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
          animation: chargement 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chargement span {
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-animation: focus-in-expand 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-expand 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.chargement i {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: pulse 1.5s ease-in-out infinite both;
          animation: pulse 1.5s ease-in-out infinite both;
  opacity: 1;
}

@-webkit-keyframes fondue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fondue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes chargement {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=mobile.css.map */