@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

body, p, h1{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


.logo{
    display: flex;
    height: 80px;
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: 35px;
    align-items: center;
    justify-content: center;
}

.ville {
    background: #EAEAEA;
    height: 65px;
    display: flex;
    box-shadow: inset 0px 17px 10px -13px #CCCCCC;
    .ville__icon {
        display: flex;
        width: 170px;
        margin: auto;
        justify-content: space-evenly;
        font-weight: bold;
        font-size: 18px;
        color: #353535;
    }
}

.nosRestaurants {
    background: #F6F6F6;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .nosRestaurants__titre {
        margin-bottom: 20px;
    }
    .nosRestaurants__texte {
        font-size: 21px;
        color: #585858;
        margin-bottom: 40px;
    }
    .nosRestaurants__boutons {
        background: linear-gradient(#FF79DA, #9356DC);
        margin: 10px;
        padding: 20px 40px;
        width: 200px;
        color: white;  
        box-shadow: 0 0 20px #eee;
        border-radius: 30px;
        font-size: 17px;
        font-weight: bold;
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.31);
        cursor: pointer;
    }
}

.fonctionnement {
    padding: 30px;
    h2{
        font-size: 30px;
        font-weight: bolder;
        margin: 20px 0px 0px 0px;
    }
    &__bcontainer {
        display: flex;
        flex-direction: column;
    }
    &__container {
        display: flex;
        background: #F6F6F6;
        padding: 20px;
        border-radius: 30px;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
        font-size: 17px;
        font-weight: bold;
        gap: 30px;
        margin: 1rem 0;
        &:hover, span {
            background: #F5EDFF;
        }
        .fonctionnement__numero {
            margin-left: -30px;
            background: #9356DC;
            border-radius: 50px;
            width: 25px;
            text-align: center;
            color: white;
            font-weight: normal;
            font-size: 19px;
        }
        .fonctionnement_icon {
            color: #7E7E7E;
            &:hover {
                color: #9356DC;
            }
        }
    }
    
}

.restaurants {
    background: #F6F6F6;
    padding: 30px;
    h2 {
        font-size: 30px;
        font-weight: bolder;
        margin: 30px 0px 15px 0px;
    }
    &__bcontainer {
        display: flex;
        flex-direction: column;
    }
    &__container {
        margin: 1rem 0;
        background: white;
        border-radius: 25px;
        position: relative;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
        }
        .restaurants__stickers {
            position: absolute;
            background: #99E2D0;
            padding: 7px 15px;
            right: 15px;
            top: 15px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            color: #00805E;
        }
        .restaurants__nom {
            font-weight: bold;
            padding: 10px 15px;
            font-size: 20px;
        }
        .restaurants__ville {
            padding: 0px 15px 15px;
            font-size: 18px;
        }
        .restaurants__like i{
            position: absolute;
            right: 1rem;
            bottom: 1.5rem;
            font-size: 2rem;
            cursor: pointer;
        }
        .fa-solid {
            background-image: linear-gradient( #9356DC, #FF79DA);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            &:hover {
                animation: fondue ease 1s; 
                animation-fill-mode: forwards; 
                animation-iteration-count: 1; 
                opacity: 1;
            }
        }
    }
}

.footer {
    background: #353535;
    color: white;
    padding: 10px 30px;
    h3{
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    i {
        width: 20px;
        margin-right: 10px;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.chargement {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    z-index: 1;
	animation: chargement 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
        margin: 1rem;
        font-weight: bold;
        font-size: 1.2rem;
        animation: focus-in-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    i {
        background-image: linear-gradient(#9356DC ,#FF79DA );
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;  
        animation: pulse 1.5s ease-in-out infinite both; 
        opacity: 1;   
    }
}


///////////////KEYFRAMES//////////////

@keyframes fondue { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
} 

@-webkit-keyframes chargement {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0.9;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }

  @keyframes pulse {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }